root {
  --font-coolvetica: 'Coolvetica', sans-serif;
  --font-arial: 'Arial', sans-serif;
  
  /* Títulos Coolvetica - Regular 400 */
  --coolv-title-one: 28px;    /* Títulos principais */
  --coolv-title-two: 22px;    /* Subtítulos de seção */
  --coolv-title-thr: 18px;    /* Cabeçalhos menores */
  
  /* Textos Arial */
  --arial-text: 16px;         /* Texto principal (400) */
  --arial-text-label: 14px;   /* Campos e instruções (400) */
  --arial-text-semibold: 600; /* Botões e ações */
}