@import url("../../App.css");

.login-main {
  width: 100%;
  height: 100%;
  background: var(--soft-white);
}

.first-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.return-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0rem 0rem 0.25rem;
}

.return-button {
  border: none;
  background-color: transparent;
}

.logo2 {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 1.55rem;
}

.title,
.login-title {
  font-family: var(--font-coolvetica), sans-serif;
  font-weight: var(--font-regular);
  font-size: var(--coolv-title-two);
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0;
  color: var(--moss-green);
}

.title {
  letter-spacing: -0.52px;
  margin-bottom: 1.63rem;
}

.login-title {
  margin-bottom: 0.5rem;
}

.credential {
  font-family: var(--font-poppins);
  font-weight: var(--font-regular);
  font-size: var(--poppins-text);
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
}

.login-form label {
  width: 100%;
  font-family: var(--font-poppins);
  font-weight: var(--font-semibold1);
  font-size: var(--poppins-text);
}

.login-input {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #474747;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.login-input input {
  width: 100%;
  height: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 8px;
  border: none;
  font-family: var(--font-poppins);
  font-weight: var(--font-semibold1);
  font-size: var(--poppins-text);
}

.login-input .eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.reset-password-container {
  width: 100%;
  margin-top: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.reset-password-container a {
  font-family: var(--font-poppins);
  font-weight: var(--font-semibold);
  font-size: var(--poppins-text-label);
  color: var(--green-forest);
}

.login-button {
  width: 20.63rem;
  height: 3rem;
  border-radius: 8px;
  background-color: var(--green-forest);
  color: var(--soft-white);
  cursor: pointer;
  font-family: var(--font-poppins);
  font-size: 1rem;
}

.login-buton:hover {
  background-color: #ffffff;
  border-color: var(--green-forest);
  color: var(--green-forest);
}

.login-button:active {
  background-color: var(--light-natural-green);
  color: var(--green-forest);
  transform: scale(0.98);
}
