@import url("../../App.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.43rem 1rem;
  overflow-y: auto;
  gap: 1rem;
}

.banner {
  width: 22.38rem;
}

.map-card {
width: 191px;
height: 204px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background-color: var(--light-natural-green);
border-radius: 14.37px;
}

.map-car img {
  width: 100%;
}

.map-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  padding-top: 0.5rem;
}

.button-map-page {
  width: 9.5rem;
  height: 2.75rem;
  border-radius: 8px;
  background-color: var(--green-forest);
  color: var(--soft-white);
  cursor: pointer;
  font-family: var(--font-poppins);
  font-size: 1rem;
}

.button-map-page:hover {
  background-color: #FFFFFF;
  border-color: var(--green-forest);
  color: var(--green-forest);
}

.button-map-page:active {
  background-color: var(--light-natural-green);
  color: var(--green-forest);
  transform: scale(0.98);
}


.buttons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.button-navs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  width: 22.4rem;
  height: 5.94rem;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  background-color: var(--light-natural-green);
  font-family: var(--font-poppins);
  font-size: var(--poppins-text-button);
  font-weight: 500;
}

.button-navs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button-navs h3 {
  font-family: var(--font-coolvetica);
  font-weight: var(--font-regular);
  font-size: var(--poppins-text);
}

.button-navs span {
  font-family: var(--font-poppins);
  font-weight: var(--font-regular);
  font-size: var(--poppins-text-label);
}

.button-navs:active {
  border: 1px solid #01402F;
  background-color: var(--soft-white);
}

.button-navs img {
  width: 2.5rem;
  height: 2.5rem;
}