@import url("../../App.css");

.inicio-main {
  width: 100%;
  height: 100%;
  padding: 4.87rem 1.84rem 11rem 1.9rem;
  background: var(--background-gradient);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 170px;
  height: 76px;
  margin-bottom: 4.85rem;
}

.title-inicio {
  font-family: var(--font-coolvetica), sans-serif;
  font-weight: var(--font-regular);
  font-size: var(--coolv-title-two);
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 2.9rem;
}

.lixeira {
  width: 8.5rem;
  height: 12.4rem;
  margin-bottom: 2.3rem;
}

.button-começar {
  width: 20.63rem;
  height: 3rem;
  border-radius: 8px;
  background-color: var(--green-forest);
  color: var(--soft-white);
  cursor: pointer;
  font-family: var(--font-poppins);
  font-size: 1rem;
}

.button-começar:hover {
  background-color: #FFFFFF;
  border-color: var(--green-forest);
  color: var(--green-forest);
}

.button-começar:active {
  background-color: var(--light-natural-green);
  color: var(--green-forest);
  transform: scale(0.98);
}
