.pontos-page {
  padding: 20px;
}

.pontos-title {
  text-align: center;
  margin-bottom: 20px;
}

.pontos-map {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.pontos-icons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.pontos-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pontos-subtitle {
  text-align: center;
  margin: 20px 0;
}

.pontos-search {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.pontos-list {
  padding: 0 20px;
}
