@import url("../../App.css");

.perfil-main {
  width: 100%;
  height: 100%;
  background: var(--soft-white);
}

.perfil-selector-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.6rem 1rem;
}

.logo2 {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 1.55rem;
}

.title-ps {
  font-family: var(--font-coolvetica), sans-serif;
  font-weight: var(--font-regular);
  font-size: var(--coolv-title-two);
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 2.75rem;
  color: var(--moss-green);
}

.button-morador,
.button-empresa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1.4rem 1rem;
  min-width: 22.4rem;
  height: 6.6rem;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  background-color: var(--light-natural-green);
  margin-bottom: 1.75rem;
  font-family: var(--font-poppins);
  font-size: var(--poppins-text-button);
  font-weight: 500;

}

.button-morador:active,
.button-empresa:active {
  border: 1px solid #01402F;
  background-color: var(--soft-white);
}

.button-morador img,
.button-empresa img {
  width: 3.81rem;
  height: 3.81rem;
}