@import url("../../App.css");

.footer-nav {
  width: 100%;
  height: 4.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--soft-white);
  border-top: 2px solid #999999;
  border-radius: 12px 12px 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.footer-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.home, .aprenda, .forum, .menu {
  border: none;
  background-color: transparent;
  height: 3.44rem;
}

.home {
  width: 2.94rem;
}

.aprenda {
  width: 4.69rem;
}

.forum {
  width: 2.5rem;
}

.menu {
  width: 2.5rem;
}