/* Reset Basico CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: var(--font-arial);
  background-color: var(--soft-white);
  color: var(--moss-green);
}

/* Variáveis Tema */
:root {
  /* Colors */
  --soft-white: #f9fafb;
  --moss-green: #011c15;
  --light-natural-green: #d2edbe;
  --green-forest: #01402f;
  --brigth-green: #22b54b;
  --highlight-green: #d0fe95;
  --background-gradient: linear-gradient(180deg, #d0fe95 0%, #f9fafb 100%);

  /*Typography */
  --font-coolvetica: "Coolvetica", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --coolv-title-one: 28px; /* 1.75rem */
  --coolv-title-two: 1.375rem; /* 22px */
  --coolv-title-thr: 18px; /* 1.125rem */

  --font-regular: 400;
  --font-semibold1: 500;
  --font-semibold: 600;

  --poppins-text: 1rem; /* 16px */
  --poppins-text-button: 1.25rem; /* 20px */
  --poppins-text-label: 0.875rem; /* 14px */

  /*Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-120: 7.5rem;
  --space-124: 7.75rem;
  --space-175: 10.973rem;
  --space-200: 12.5rem;
}

/* Coolvetica */
@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/Coolvetica Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Poppins Thin */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Poppins Thin Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Poppins ExtraLight */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Poppins ExtraLight Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Poppins Light */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Poppins Light Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Poppins Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Poppins Medium */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Poppins Medium Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Poppins SemiBold */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Poppins SemiBold Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Poppins Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Poppins ExtraBold */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Poppins ExtraBold Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Poppins Black */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Poppins Black Italic */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
