.main-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 3rem;
  height: 100vh;
  background-color: var(--soft-white);
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
  margin-top: 1.6rem;
}

.title-container img {
  width: 1.87rem;
  height: 1.87rem;
}

.title-container h1 {
  font-family: var(--font-coolvetica);
  font-weight: var(--font-regular);
  font-size: 1.25rem;
  color: var(--moss-green);
}

.section-help {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}