.main-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1.44rem;
  height: 100vh;
  background-color: var(--light-natural-green);
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
  margin-top: 1.6rem;
}

.title-container img {
  width: 1.87rem;
  height: 1.87rem;
}

.title-container h1 {
  font-family: var(--font-coolvetica);
  font-weight: var(--font-regular);
  font-size: 1.25rem;
  color: var(--moss-green);
}

.section-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section-data form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.data-input {
  width: 100%;
  height: 3rem;
  border-radius: 12px;
  border: 1px solid #474747;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--soft-white);
  padding: 0.63rem 1rem;
}

.data-input input {
  width: 100%;
  height: 100%;
  border: none;
  font-family: var(--font-poppins);
  font-weight: var(--font-regular);
  font-size: 0.88rem;
  color: #474747;
}

.data-input .edit-data {
  position: absolute;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
  color: #888;
}
